<ion-header>
  <ion-toolbar>
    <div class="logodiv"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-text-center" *ngIf="slideComponent">
    <p>{{this.slideComponent.maintimeLeft}} Seconds Left....</p>
  </div> -->
  <slide-comp></slide-comp>
  <ion-row class="ion-align-items-center">
    <ion-col class="text-align: center">
      <img src="assets/icon/texte.png" (click)="showKeyboard()" />
    </ion-col>
    <ion-col class="text-align: center">
      <img src="assets/icon/Bouger.png" />
    </ion-col>
    <ion-col class="text-align: center">
      <img src="assets/icon/ecoute.png" />
    </ion-col>
    <ion-col class="text-align: center">
      <img src="assets/icon/Faciale.png" />
    </ion-col>
    <ion-col class="text-align: center">
      <img src="assets/icon/tactile.png" />
    </ion-col>
    <ion-col class="text-align: center">
      <img src="assets/icon/voix.png" />
    </ion-col>
    <ion-col class="text-align: center">
      <img src="assets/icon/vue.png" />
    </ion-col>
  </ion-row>

</ion-content>