<ion-header>
  <ion-toolbar>
    <ion-title>
      ArtUNG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <p>{{timeLeft}} Seconds Left....</p>
  </div>
  <slide-comp></slide-comp>
  <ion-row class="ion-align-items-center">
    <ion-col class="text-align: center">
      <button (click)="showKeyboard()"><i class="fa fa-align-justify"></i></button>
    </ion-col>
    <ion-col class="text-align: center">
      <i class="fa fa-microphone"></i>
    </ion-col>
    <ion-col class="text-align: center">
      <i class="fa fa-mobile"></i>
    </ion-col>
  </ion-row>

</ion-content>