ion-slides,
.swiper-container {
    height: 70vh;
    width: auto;
}

ion-card {
    margin: 5px 5px 5px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}


ion-card-content {
    height: 90%;
    width: 100%;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}


.swiper-slide {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.swiper-pagination-bullet {
    background-color: white;
}

// Custom Pagination Style 1
.custom-pagination.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.custom-pagination.swiper-pagination-bullet-active {
    color: #fff;
    background: #f52c2c;
    transition: transform 0.3s;
    transform: scale(1.5);
}

video{
    margin-top: 30px;
}
audio {
    margin-top: 30px;
}