<ion-slides autoplay="2500" loop="true" *ngIf="pieceOfArtSource.peiceOfArts" (ionSlideDidChange)="slideChanged()">
    <ng-container *ngFor="let pieceOfArt of pieceOfArtSource.peiceOfArts; let i = index">
        <ion-slide>
            <ion-card *ngIf="pieceOfArt.enigmaType === 1">
                <ion-card-content [ngStyle]="{'background' : 'url(' + pieceOfArt.assetLink + ')'}">
                </ion-card-content>
                <ng-container *ngIf="pieceOfArt.textIndication">
                    <p>{{pieceOfArt.textIndication}}</p>
                    <ion-input type="text" [(ngModel)]="message" (change)="isItCorrect(i)" #input></ion-input>
                </ng-container>
            </ion-card>
            <ion-card *ngIf="pieceOfArt.enigmaType === 3">
                <video #videoPlayer autoplay="false" class="videoPlayer">
                    <source [src]="pieceOfArt.assetLink" type="video/webm" /></video>
            </ion-card>
            <ion-card *ngIf="pieceOfArt.enigmaType === 4">
                <ion-card-content [ngStyle]="{'background' : 'url(' + pieceOfArt.assetLink + ')'}"
                    (click)="checkNumberOfClick(i)">
                </ion-card-content>
            </ion-card>
            <ion-card *ngIf="pieceOfArt.enigmaType === 2">
                <ion-card-content>
                    <audio controls>
                        <source [src]="pieceOfArt.assetLink" type="audio/mpeg">
                    </audio>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ng-container>
</ion-slides>